.main-vbox .title-label {
    -fx-font-size: 1.375em;
    -fx-font-weight: bold;
}

.main-vbox .filter-container,
.main-vbox .table-container {
    -fx-background-color: #FAFAFA;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 5, 0, 0, 2);
}

.main-vbox .filter-container .title {
    -fx-font-size: 16;
}

.main-vbox .filter-container .labels {
    -fx-font-size: 14;
}

.main-vbox .filter-container .searchbar {
    -fx-background-color: transparent;
    -fx-border-radius: 0;
    -fx-border-color: #ABABAB;
}

.main-vbox .filter-container .dropdowns {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-color: #D9D9D9;
    -fx-border-color: #ABABAB;
}

.main-vbox .filter-container .datePickers {
    -fx-background-color: transparent;
    -fx-border-color: #ABABAB;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.main-vbox .filter-container .clear-filter,
.main-vbox .filter-container .apply-filter {
    -fx-background-radius: 0;
    -fx-font-size: 14;
    -fx-cursor: hand;
}

.main-vbox .filter-container .clear-filter {
    -fx-background-color: #D9D9D9;
}

.main-vbox .filter-container .apply-filter {
    -fx-background-color: #6988AC;
    -fx-text-fill: #FAFAFA;
    -fx-font-weight: bold;
}

.main-vbox .filter-container .apply-filter:hover {
    -fx-background-color: #90ABCA;
}

.main-vbox .filter-container .clear-filter:hover {
    -fx-background-color: #E0E0E0;
}

.table-view {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: #B9B9B9;
}

.table-view .table-row-cell:hover {
    -fx-background-color: lightgray;
}

.table-row-cell:hover .table-cell {
    -fx-border-color: transparent;
}

.table-row-cell:hover .separator .line {
    -fx-border-color: transparent;
}