.main-vbox .title-label {
    -fx-font-weight: bold;
    -fx-font-size: 1.375em;
}

.main-vbox .sub-vbox {
    -fx-background-color: #FAFAFA;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 5, 0, 0, 2);
}

.main-vbox .sub-vbox .labels {
    -fx-font-size: 16px;
}

.main-vbox .sub-vbox .dropdown {
    -fx-padding: 1;
    -fx-background-color: #D9D9D9;
    -fx-border-color: #ABABAB;
    -fx-border-radius: 0;
}

.main-vbox .sub-vbox .export-btn,
.main-vbox .sub-vbox .load-btn {
    -fx-max-width: 148;
    -fx-min-width: 148;
    -fx-max-height: 29;
    -fx-min-height: 29;
    -fx-text-fill: #FAFAFA;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.main-vbox .sub-vbox .export-btn {
    -fx-background-color: #1F7D49;
}

.main-vbox .sub-vbox .load-btn {
    -fx-background-color: #6988AC;
}