.main-container {
    -fx-background-color: #FFFFFF;
}

.first-row {
    -fx-margin: 0 0 30px 0;
}

.first-row, .second-row {
    -fx-background-color: #FAFAFA;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 5);
    -fx-padding: 15px;
}

.overview-box {
    -fx-background-color: gray;
}

.overview-box .labels {
    -fx-text-fill: #FAFAFA;
}

.yellow-box { -fx-background-color: #FDC838; }
.skyblue-box { -fx-background-color: #38B1FD; }
.purple-box { -fx-background-color: #5C38FD; }
.pink-box { -fx-background-color: #BF38FD; }
.green-box { -fx-background-color: #1F7D49; }

.data-container, .data-container:focused {
    -fx-background-insets: 0 !important;
}