.title {
    -fx-font-weight: bold;
    -fx-font-size: 1.375em;
}

.subtitle {
    -fx-font-size: 16px;
}

.container {
    -fx-background-color: #FAFAFA;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 5, 0, 0, 2);
}

.container .label {
    -fx-font-size: 16;
}

.container .field {
    -fx-background-color: transparent;
    -fx-border-color: #ABABAB;
}

.container .run-btn {
    -fx-background-color: #6988AC;
    -fx-text-fill: #FAFAFA;
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-cursor: hand;
}

.container .run-btn:hover {
    -fx-background-color: #90ABCA;
}

.container .detail-container {
    -fx-background-color: #EBF5FF;
    -fx-border-color: #6988AC;
    -fx-border-radius: 5;
}

.container .detail-container .label {
    -fx-font-size: 14;
}