.main-vbox .title-label {
    -fx-font-size: 1.375em;
    -fx-font-weight: bold;
}

.main-vbox .add-row .add-container,
.main-vbox .record-container {
    -fx-background-color: #FAFAFA;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 5, 0, 0, 2);
}

.main-vbox .add-row .add-container .add-title {
    -fx-font-weight: bold;
    -fx-font-size: 1.375em;
}

.record-container .record-title {
    -fx-font-size: 16;
}

.btn-action {
    -fx-underline: true;
    -fx-font-weight: bold;
    -fx-font-size: 0.875em;
}

.table-view {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: #B9B9B9;
}

.table-view .table-row-cell:hover {
    -fx-background-color: #E5E5E5;
}

.table-row-cell:hover .table-cell {
    -fx-border-color: transparent;
}

.table-row-cell:hover .separator .line {
    -fx-border-color: transparent; /* Match your orange theme on hover */
}

.add-user-btn {
    -fx-background-color: #6988AC;
    -fx-text-fill: #FAFAFA;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-cursor: hand;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.add-user-btn:hover {
    -fx-background-color: #90ABCA;
}

.pagination .number-button {
    -fx-border-radius: 2;
    -fx-background-radius: 2;
}

.pagination .number-button:selected {
    -fx-background-color: #EF7707;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 2;
}