.main-vbox .title-label {
    -fx-font-size: 1.375em;
    -fx-font-weight: bold;
}

.main-vbox .add-row .add-container,
.main-vbox .record-container {
    -fx-background-color: #FAFAFA;
    -fx-effect: drop-shadow(three-pass-box, rgba(0,0,0,0.25), 5, 0, 0, 2);
}

.main-vbox .add-row .add-container .add-title {
    -fx-font-weight: bold;
    -fx-font-size: 1.375em;
}

.record-container .record-title {
    -fx-font-size: 16;
}

.btn-action {
    -fx-underline: true;
    -fx-font-weight: bold;
    -fx-font-size: 0.875em;
    -fx-cursor: hand;
}

.status-link {
    -fx-underline: true;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.addBtn {
    -fx-background-color: #6988AC;
    -fx-text-fill: #FAFAFA;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-cursor: hand;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.place-holder {
    -fx-font-size: 15;
}

.modal {
    -fx-background-color: #FAFAFA;
}