.edit-modal {
    -fx-background-color: #FAFAFA;
}

.edit-modal .edit-title {
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.edit-modal .field-labels {
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

.edit-modal .fields {
    -fx-background-color: transparent;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-color: #ABABAB;
    -fx-padding: 5 5 5 5;
}

.edit-modal .dropdown {
    -fx-background-color: #D9D9D9;
    -fx-border-color: #ABABAB;
    -fx-padding: 0;
}

.saveBtn {
    -fx-font-weight: bold;
    -fx-font-size: 1.2em;
    -fx-alignment: CENTER;
    -fx-text-alignment: CENTER;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-cursor: hand;
    -fx-padding: 0;
}

.cancelBtn {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.saveBtn {
    -fx-background-color: #1F7D49;
    -fx-text-fill: #FAFAFA;
}

.saveBtn:hover {
    -fx-background-color: #38A86A;
}

.modal {
    -fx-background-color: #FAFAFA;
}

.modal .title {
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.modal .warning-icon {
    -fx-icon-color: #FDC838;
}

.modal .message {
    -fx-font-size: 15;
    -fx-line-spacing: -3;
}

.confirm-btn, .cancel-btn {
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-cursor: hand;
}

.confirm-btn {
    -fx-background-color: #EF7707;
    -fx-text-fill: #FAFAFA;
}

.cancel-btn {
    -fx-background-color: #B9B9B9;
}

.confirm-btn:hover {
    -fx-background-color: #FFBC7D;
}

.cancel-btn:hover {
    -fx-background-color: #DEDDDD;
}

.list-title {
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

.list-items {
    -fx-font-size: 16;
}

.continue-label {
    -fx-font-size: 16;
    -fx-font-weight: bold;
}