.table-vbox {
    -fx-background-color: #FAFAFA;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 5, 0, 0, 2);
}

.addStudentBtn {
    -fx-min-width: 0;
    -fx-min-height: 0;
    -fx-max-width: 200px;
    -fx-max-height: 29px;
    -fx-pref-width: 193px;
    -fx-background-color: #1F7D49;
    -fx-text-fill: #FAFAFA;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-font-size: 1.125em;
}

.addStudentBtn:hover {
    -fx-background-color: #38A86A;
}

.searchbar {
    -fx-min-width: 0;
    -fx-min-height: 0;
    -fx-max-height: 30px;
}

.searchbar,
.addStudentBtn {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.table-view {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: #B9B9B9;
}

.table-view .table-row-cell:hover {
    -fx-background-color: #E5E5E5;
}

.table-row-cell:hover .table-cell {
    -fx-border-color: transparent;
}

.table-row-cell:hover .separator .line {
    -fx-border-color: transparent; /* Match your orange theme on hover */
}

.table-view .placeholder {
    -fx-opacity: 1.0;
}

/* 2. Ensure the ProgressIndicator inside uses your theme color */
.table-view .placeholder .progress-indicator {
    -fx-progress-color: #EF7707;
    -fx-opacity: 1.0;
}

/* 3. Make sure the 'No records' label is also solid */
.table-view .placeholder .label {
    -fx-text-fill: #333333;
    -fx-opacity: 1.0;
}

.btn-action {
    -fx-underline: true;
    -fx-font-weight: bold;
    -fx-font-size: 0.875em;
    -fx-cursor: hand;
}

.edit-icon,
.archive-icon {
    -fx-icon-color: #333333;
}

.pagination .number-button {
    -fx-border-radius: 2;
    -fx-background-radius: 2;
}

.pagination .number-button:selected {
    -fx-background-color: #EF7707;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 2;
}

.tooltip {
    -fx-background-color: #333333;
    -fx-text-fill: white;
    -fx-padding: 5px 10px;
    -fx-background-radius: 4px;
    -fx-font-size: 12px;
}