.table-vbox {
    -fx-background-color: #FAFAFA;
    -fx-effect: drop-shadow(three-pass-box, rgba(0,0,0,0.25), 5, 0, 0, 2);
}

.addStudentBtn {
    -fx-min-width: 0;
    -fx-min-height: 0;
    -fx-max-width: 200px;
    -fx-max-height: 29px;
    -fx-pref-width: 193px;
    -fx-background-color: #1F7D49;
    -fx-text-fill: #FAFAFA;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-font-size: 1.125em;
}

.addStudentBtn:hover {
    -fx-background-color: #38A86A;
}

.searchbar {
    -fx-min-width: 0;
    -fx-min-height: 0;
    -fx-max-height: 30px;
}

.searchbar,
.addStudentBtn {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.btn-action {
    -fx-underline: true;
    -fx-font-weight: bold;
    -fx-font-size: 0.875em;
    -fx-cursor: hand;
}

.edit-icon,
.archive-icon {
    -fx-icon-color: #333333;
}

.tooltip {
    -fx-background-color: #333333;
    -fx-text-fill: white;
    -fx-padding: 5px 10px;
    -fx-background-radius: 4px;
    -fx-font-size: 12px;
}

.place-holder {
    -fx-font-size: 15;
}